@media only screen and (min-width: 1169px) {

    .dcustom-shape-divider-top-1650013466 {
        display: inline;
    }
        .container {
    
            padding: 0;
    
        }
        #services .block .serviceimg1 {
            display: none;
            
            }
            
        
    .welcomeimg{
        display: none;
    }
     
#nav-mobile{
    display: none;
     }
    
    }


    @media only screen and (max-width: 1000px) {
.custom-shape-divider-top-1650013685{
    display: inline;
}

.header{
    display: none;
    }
    
   
        
        }
            