
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url('https://fonts.googleapis.com/css?family=Playball');



/*Main css*/
@import url('slider-style.css');
@import url(jquery.fancybox.css);


/* 
============================================
   2. Global styles
============================================
*/

body {

  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active,a:focus {
  text-decoration: none;
}
input,
textarea,
button {
  outline: none;
}

p {
  color: #333;
  line-height: 26px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  /*margin-top: -7px;*/
}
.drop p{
  color:black;
}
img {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  position:relative;
  font-family: 'Roboto', sans-serif;

  margin-bottom: 20px;
  margin-top: 0;
  background:none;
}








.custom-shape-divider-top-1650013685 {
 display: none; 
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1650013685 svg {
 
  display: block;
  width: calc(100% + 1.3px);
  height: 138px;
}

.custom-shape-divider-top-1650013685 .shape-fill {
  fill:#ed0b0b ;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1650013685 svg {
      width: calc(100% + 1.3px);
      height: 92px;
  }
}

.dcustom-shape-divider-top-1650013466 {
display: none;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.dcustom-shape-divider-top-1650013466 svg {
  
  display: block;
  width: calc(100% + 1.3px);
  height: 138px;
}

.dcustom-shape-divider-top-1650013466 .shape-fill {
  fill: #ed0b0b;
}








.header{
  background-color:#eb0028;
  width: 100%;
  height: 100px;
  color: aliceblue;
  text-align: justify;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#nav{
  padding-top: 45px;
}
.navst{
  padding-left: 225px;
}
.nav1{
 margin-left: 50px;
  text-decoration: none;
  color:wheat;
  padding-right: 5px;

}
a.nav1:hover{
  background-color: aliceblue;
height: 45px;
  border-radius: 15px;
  color: black;
}





.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  

  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color:#eb0028;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#myLinks{
  font-size: 34px;
text-align: center;
}

#myLinks a:hover{
  background-color: aliceblue;
  height: 45px;
      border-radius: 15px;
      color: black;
  

}
.active {
  background-color:#eb0028;
  color: white;
}




#slideshow { 
   
  position: relative; 
  width: 100%; 
  height: 600px; 
   
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#slideshow img{
  
  width: 100%;
  height: 600px;
}
#slideshow > div { 
  position: absolute; 
  top: 0px; 
  left: 1px; 
  right: 1px; 
  bottom: 10px; 
}




